<div data-role="footer" data-id="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "Købt", purchases_path, :"data-icon" => "plus", :"data-iconpos" => "notext" %></li>
      <li><%= link_to "Solgt", sales_path, :"data-icon" => "plus", :"data-iconpos" => "notext" %></li>
      <li><%= link_to "Omsætning", revenues_path, :"data-icon" => "plus", :"data-iconpos" => "notext", :class => "ui-btn-active" %></li>
    </ul>
  </div>
</div>
